<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render "follow_form" if signed_in? %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'feed' %>
  </div>
</div>