<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render "follow_form" if signed_in? %>
    </section>
  </aside>
  <div class="span8">
    <div id="user-playlists">
    	<h3>Created</h3>
    	<% if @user.playlists.any? %>

    	<% else %>
    		No playlists have been created.
    	<% end %>
    </div>
    <div id="watched-playlists">
    	<h3>Watched</h3>
    	<% if @user.playlists.any? %>

    	<% else %>
    		No recently watched playlists.
    	<% end %>
    </div>
    <div id="commented-videos">
    	<h3>Commented</h3>
    	<% if @user.playlists.any? %>

    	<% else %>
    		Haven't commented on any videos.
    	<% end %>
    </div>
  </div>
  <div class="feeds-container">
    <div class="recently-created-feed">

    </div>
  </div>
</div>