<div class="video-thumbnail">
  <img src="<%= thumb %>" alt="<%= title %>" />
</div>
<div class="video-info">
  <div class="video-name"><%= title %></div>
  <div class="video-upvote"><%= upvotes %></div>
  <div class="video-downvote"><%= downvotes %></div>
  <div class="video-duration"><%= duration %></div>
</div>
<div class="video-cell-options">
  <div class="video-cell-remove">X</div>
</div>