<div class="video-cell-template">
	<div class="video-info-container">
		<div class="video-name"><%= name %></div>
	</div>
	<div class="thumb-container">
		<img id="thumbnail<%= id %>" src="http://img.youtube.com/vi/<%= site_code %>/default.jpg" alt="<%= name %>" />
	</div>
	<div class="video-votes-container">
		<span class="video-votes"><%= upvotes %></span> 
		<span class="video-votes"><%= downvotes %></span>
	</div>
</div>